@font-face {
    font-family: 'jetbrains';
    src: url("../assets/fonts/Outfit-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

    font-family: 'josefin';
    src: url("../assets/fonts/Outfit-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --base: #CFDBD5;
    --primary: #333533;
    --surface:  #242423;
    --accents: #F5CB5C;
    --secondary: #E8EDDF;

    --detail: linear-gradient(135deg, #4dbc0d, #3E8914);
    --detail1: linear-gradient(135deg, #4c06d6,#3a0aa9);
    --detail2: linear-gradient(135deg, #e81717, #a50c0c);
    --detail3: linear-gradient(135deg, #f59709, #ca5a0a);
    --detail4: linear-gradient(135deg, #0a0c0a, #242432);
}

* {
    font-family: 'josefin';
}

html {
    font-size: 16px
}

@keyframes background_animation {
    0% { background-position: 0% 50%;}
    50% { background-position: 100% 50%;}
    100% { background-position: 0% 50%;}
}

body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: var(--detail4);
    margin: 0;
    height: 100vh;
    animation: background_animation 5s linear infinite;
    background-size: 400% 400%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

@media(min-width: 360px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
        background-color: var(--primary);
        padding: 12px;
        border-radius: 12px;
        border: 2px solid var(--accents)
        
    }

    #dashboard-page {
        background-color: var(--primary);
        color: var(--base);
        padding: 4px;
        max-width: 100px;
        max-height: 50px;
        border: 2px solid var(--accents);
        border-radius: 4px;
    }

    main #status_wrap {
        display: flex;
        gap: 12px;
        align-items: center;
        border-radius: 25px;
        background:  var(--surface);
        padding: 16px;
        border: 2px solid var(--accents);
    }

    main #status_wrap .items {
        flex-grow: 1 ;
        color: var(--base);
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 12px;
        background-color: var(--primary);
        border: 2px solid var(--accents);
        min-width: 60px;
        transition: 0.5s ease;
        transform: scaleX(1);
    }
    
    main #status_wrap .items.active {
        background: var(--base);
        transform: scaleX(1.1);
        transform: scale(1.1);
        color: var(--surface);
        transition: 0.5s ease;
    }

    main #btn-wrapper {
        display: flex;
        flex-direction: row;
        gap: 12px;
        align-items: center;
        justify-content: center;       
    }

    main #take-photo {
        display: flex;
        background-color: var(--surface);
        min-width: 50px;
        min-height: 50px;
        border-radius: 50%;
        padding: 4px;
        border: 4px solid var(--accents);
    }

    main #take-photo:active {
        background-color: var(--base);
    }





    main #present-area {
        display: flex;
        min-height: 400px;
        min-width: 300px;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }
    
    main #cam_wrapper canvas {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        color: white;
        aspect-ratio: 1 / 1;
        max-width: 250px;
        object-fit: cover;
        transform: scaleX(-1);
        border-radius: 25px;
        border: 4px solid var(--accents);
    }

    main #cam_wrapper video {
        display: flex;
        color: white;
        aspect-ratio: 1 / 1;
        max-width: 250px;
        object-fit: cover;
        transform: scaleX(-1);
        border-radius: 25px;
        border: 4px solid var(--accents);
    }

    main 

    main #present-area #absent-btn {
        background-color: var(--surface);
    }

    main #time-location-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4px;
        min-width: 250px;
    }
    
    
    main .info-text {
        display: flex;
        color: var(--base);
        text-decoration: none;
    }


/*  */


    main #nfw-area {
        display: none;
        margin: 12px;
        flex-direction: column;
        gap: 2px;
        justify-content: center;
        align-items: center;
    }

    main textarea {
        margin: 12px;
        padding: 12px;
        min-width: 200px;
        background-color: var(--surface);
        min-height: 80px;
        max-width: 250px;
        max-height: 325px;
        outline: none;
        border: 2px solid var(--accents);
        color: var(--base);
        border-radius: 12px;
    }

    main textarea::placeholder {
        color: var(--base);
    }

    main .file-upload-wrap {
        border: 2px dashed var(--accents);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 250px;
        min-height: 150px;
        max-width: 250px;
        gap: 0;
    }

    main #nfw-area .upload-btn-nfw {
        text-align: center;
        color: var(--base);
        background-color: var(--surface);
        padding: 4px;
        border: 2px solid var(--accents);
        border-radius: 12px;
        max-width: 100px;
        cursor: pointer;
        margin-bottom: auto;
        margin-top: 12px ;
    }
    
    main .file-name {
        text-align: center;
        color: var(--base);
        padding: 0;
    }

    
    main .note {
        border-top: 1px solid var(--accents);
        padding: 12px;
        color: var(--base);
        text-align: center;
        max-width: 250px;
    }

    main span:not(".info-text") {
        color: var(--base);
        text-decoration: underline;
    }
    main span:active:not(".info-text") {
        color: blue;
        text-decoration: underline;
        cursor: pointer;
    }

    main .btn {
        background-color: var(--surface);
        min-width: 100px;
        min-height: 40px;
        border-radius: 12px;
        border: 2px solid var(--accents);
        color: var(--base);
        margin-bottom: 12px ;
    }

    main .btn:active {
        background-color: var(--base);
        color: var(--surface);
    }





    main #excused-area {
        display: none;
        margin: 12px;
        flex-direction: column;
        gap: 2px;
        justify-content: center;
        align-items: center;
    }

    main #excused-area .upload-btn-excused {
        display: flex;
        text-align: center;
        color: var(--base);
        padding: 4px;
        border: 2px solid var(--accents);
        background-color: var(--surface);
        margin-bottom: auto;
        margin-top: 12px;
        max-width: 100px;
        border-radius: 12px;
    }
}