@font-face {
    font-family: 'jetbrains';
    src: url("../assets/fonts/JetBrainsMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

    font-family: 'josefin';
    src: url("../assets/fonts/JosefinSans-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "josefin", monospace;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --text: #fff;
    --border: #eee;

    --base: #023436;
    --primary: #037971;
    --surface: #049a8f;
    --accents: #03b5aa;
}

@keyframes slide_right_to_left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fade_in {
    from {
        opacity : 0;
    }
    to {
        opacity : 1;
    }
}

@media (min-width: 360px) {
    #main_container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        padding-top: 70px;
    }
    
    #top_navigation_bar {
        display: flex;
        position: fixed;
        top: 0px;
        width: 100%;
        height: 70px;
        background-color: var(--primary);
        color: var(--text);
        gap: 12px;
        z-index: 1000;
        justify-content: space-between;
        align-items: center;
        border-bottom: 4px solid var(--surface);
    }
    
    #top_navigation_bar h1 {
        font-size: 20px;
    }

    #top_navigation_bar #profile_pict {
        flex-shrink: 0;
        min-width: 0;
        width: 40px;
        height: 40px;
        margin-left: 12px;
        border-radius: 50px;
        transform: scale(1);
        transition: 0.3s ease;
    }
    
    #top_navigation_bar #profile_pict:hover {
        transform: scale(1.05);
        transition: 0.3s ease;
    }
    
    #top_navigation_bar #bar_icon_btn {
        flex-shrink: 0;
        min-width: 0;
        width: 40px;
        height: 40px;
        margin-right: 12px;
        border-radius: 50px;
    }
    
    #main_section{
        display: flex;
        flex-direction: column;
        flex: 1;
        background-color: var(--base);
        justify-content: center;
        align-items: center;
    }
    
    #main_section #main_content{        
        display: flex;
        color: var(--text);
        font-size: 24px;
        background-color: var(--primary);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
        height: 80vh;
        border: 4px solid var(--surface);
        border-radius: 25px;
    }
    
    #main_content #profile_picture {
        margin: 24px;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        border: 2px solid var(--surface);
        padding: 2px;
    }

    #main_content #dashboard_area {
        width:90%;
        height: 60%;
        background-color: yellow;
        border-radius: 12px;
    }

    #right_sheet_container {
        width: 200px;
    }
    
    #right_nav_sheet {
        color: var(--text);
        background-color: var(--base);
        border: 2px solid var(--surface);
        outline: none;
        margin: 0;
        margin-left: auto;
        top: 0;
        height: 100vh;
        animation: slide_right_to_left 0.3s ease;
        justify-content: center;
        z-index: 2000;
        border-radius: 12px;
        margin-top: 4px;
        margin-right: 8px;
    }
    
    #right_nav_sheet::backdrop {
        animation: fade_in 0.4s ease;
        background-color: rgba(9, 9, 9, 0.5);
        backdrop-filter: blur(3px);
    }

    #right_nav_sheet #menu {
        display: flex;
        flex-direction: column;
        margin-top: 12px;
        gap: 12px;
        align-items: center;
    }

    #right_nav_sheet .items:not(#logout_btn) {
        background-color: var(--primary);
        display: flex;
        width: 90%;
        padding: 24px;
        border-radius: 24px;
        border: 2px solid var(--surface);
        align-items: center;
        justify-content: center;
        transition: 0.3s ease;
    }
    
    #right_nav_sheet .items:hover:not(#logout_btn),
    #right_nav_sheet .items:active:not(#logout_btn) {
        background-color: var(--accents) !important; 
        transition: 0.3s ease;
    }

    #right_nav_sheet #logout_btn {
        color: black;
        display: flex;
        background-color: #f11;
        width: 90%;
        padding: 24px;
        border-radius: 24px;
        border: 2px solid #900;
        align-items: center;
        justify-content: center;
    }

    #right_nav_sheet #logout_btn:hover,
    #right_nav_sheet #logout_btn:active {
        background-color: #900;
        border: 2px solid #f11;
        color: white;
    }
}