@font-face {
    font-family: 'jetbrains';
    src: url("../assets/fonts/JetBrainsMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

    font-family: 'josefin';
    src: url("../assets/fonts/JosefinSans-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "josefin", monospace;
}

::-webkit-scrollbar {
    display: none;
}


@keyframes slide_right_to_left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fade_in {
    from {
        opacity : 0;
    }
    to {
        opacity : 1;
    }
}

@media (min-width: 360px) {
    #main_container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        padding-top: 70px;
    }
    
    #top_navigation_bar {
        display: flex;
        position: fixed;
        top: 0px;
        width: 100%;
        height: 70px;
        background-color: white;
        gap: 12px;
        z-index: 1000;
        justify-content: space-between;
        align-items: center;
    }
    
    #top_navigation_bar #profile_pict {
        flex-shrink: 0;
        min-width: 0;
        width: 40px;
        height: 40px;
        margin-left: 12px;
        border-radius: 50px;
        transform: scale(1);
        transition: 0.3s ease;
    }
    
    #top_navigation_bar #profile_pict:hover {
        transform: scale(1.05);
        transition: 0.3s ease;
    }
    
    #top_navigation_bar #bar_icon_btn {
        flex-shrink: 0;
        min-width: 0;
        width: 40px;
        height: 40px;
        margin-right: 12px;
        border-radius: 50px;
        background-color: #fff;
    }
    
    #main_section{
        display: flex;
        flex-direction: column;
        flex: 1;
        background-color: blue;
        /* margin-top: 80px; */
        justify-content: center;
        align-items: center;
    }
    
    #main_section #main_content{        
        display: flex;
        background-color: red;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        width: 80vw;
        height: 80vh;
        border: 4px solid #000;
        border-radius: 25px;
    }
    
    #main_content #profile_picture {
        margin: 24px;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background: #000;
        padding: 2px;
    }

    #main_content #dashboard_area {
        width:100%;
        height: 50%;
        background-color: yellow;
    }

    #right_sheet_container {
        /* background: #0ff; */
        width: 200px;
    }
    
    #right_nav_sheet {
        border: 2px solid #aaa;
        outline: none;
        margin: 0;
        margin-left: auto;
        top: 0;
        height: 100vh;
        animation: slide_right_to_left 0.3s ease;
        justify-content: center;
        z-index: 2000;
        border-radius: 12px;
        margin-top: 4px;
        margin-right: 8px;
    }
    
    #right_nav_sheet::backdrop {
        animation: fade_in 0.4s ease;
        background-color: rgba(9, 9, 9, 0.5);
        backdrop-filter: blur(3px);
    }

    /* #right_nav_sheet .pembatas p {
        font-size:24px ;
        margin-top: 12px;
        margin-left: 8px;
    }

    #right_nav_sheet .pembatas {
        display: flex;
        flex-direction: column;
        gap: 0px
    }
    
    #right_nav_sheet .pembatas hr {
        border: 1px solid black;
    }

    #right_nav_sheet .section_wrapper_1 {
        margin-top: 50px;
    }
    
    #right_nav_sheet .section_wrapper_1,
    #right_nav_sheet .section_wrapper_2 {
        display: flex;
        flex-direction: column;
    }

    #right_nav_sheet .items {
        display: flex;
        font-size: 18px;
        gap: 4px;
        border-radius: 2px;
        transform: scale(1.0);
        transition: 0.5s ease;
        width: 100%;
        height: 40px;
        align-items: center;
    }

    #right_nav_sheet .items:hover{
        background-color: #ddd;
        transition: 0.5s ease;
        color: #000 ;
        width: 100%;
    }
    
    #right_nav_sheet .items_img {
        width: 25px;
        height: 25px;
        margin-left: 6px;
    } */

    #right_nav_sheet #menu {
        display: flex;
        flex-direction: column;
        margin-top: 12px;
        gap: 12px;
        /* color: white; */
        align-items: center;
    }

    #right_nav_sheet .items:not(#logout_btn) {
        display: flex;
        /* background-color: #000; */
        width: 90%;
        padding: 24px;
        border-radius: 24px;
        border: 2px solid #999;
        align-items: center;
        justify-content: center;
    }

    #right_nav_sheet .items:hover {
        background-color: #bbb; 
    }
    #right_nav_sheet .items:active {
        background-color: #bbb; 
        color: black;
    }

    #right_nav_sheet #logout_btn {
        display: flex;
        background-color: red;
        width: 90%;
        padding: 24px;
        border-radius: 24px;
        border: 2px solid #999;
        align-items: center;
        justify-content: center;
    }

    #right_nav_sheet #logout_btn:hover,
    #right_nav_sheet #logout_btn:active  {
        background-color: #bbb;
    }
}