@font-face {
    font-family: 'jetbrains';
    src: url("../assets/fonts/Outfit-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

    font-family: 'josefin';
    src: url("../assets/fonts/Outfit-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --base: #CFDBD5;
    --primary: #333533;
    --surface:  #242423;
    --accents: #F5CB5C;
    --secondary: #E8EDDF;

    --detail: linear-gradient(135deg, #4dbc0d, #3E8914);
    --detail1: linear-gradient(135deg, #4c06d6,#3a0aa9);
    --detail2: linear-gradient(135deg, #e81717, #a50c0c);
    --detail3: linear-gradient(135deg, #f59709, #ca5a0a);
    --detail4: linear-gradient(135deg, #0a0c0a, #242432);
}

* {
    font-family: 'josefin';
    color: var(--base);
}

@keyframes background_animation {
    0% { background-position: 0% 50%;}
    50% { background-position: 100% 50%;}
    100% { background-position: 0% 50%;}
}

body {
    background: var(--detail4);
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: background_animation 5s linear infinite;
    background-size: 400% 400%;
    background-repeat: no-repeat;
}


@media(min-width:360px) {
    #login_box {
        display: none;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        max-width: 350px;
        max-height: 340px;
        width: 100%;
        height: 100%;
        border: 2px solid var(--accents);
        background-color: var(--primary);
        box-shadow: 0px 4px 8px var(--surface);
    }

    .start_text {
        text-align: center;
        margin: 8px 0px 0px 0px; /*formatnya atas kanan bawah kiri*/
        font-size: 25px;
        color: var(--base);
    }

    .logo {
        height: 100%;
        width: 100%;
        max-width: 50px;
        max-height: 50px;
        margin-left: 0px;

    }

    #login_box input {
        width: 250px;
        padding: 12px;
        box-sizing: border-box;
        color: var(--base);
        border: 2px solid var(--accents);
        background-color: var(--surface);
        border-radius: 5px;
        outline: none; /* untuk menghilangkan border bawaan saat di klik*/
        padding-right: 40px;
        transition: 0.5s ease;
    }

    #login_box input::placeholder{
        color: gray;
        font-size: 12px;
        transition: 0.5s ease;
    }
    
    #login_box input:focus::placeholder{
        font-size: 14px;
        transition: 0.5s ease;
    }
    
    #password_box {
        position: relative;
        transform: scale(1);
        transition: 0.5s ease;
    }

    #password_box .solid_eye{
        display: block;
        position: absolute;
        right: 10px;
        cursor: pointer;
        width: 20px;
        top: 50%;
        transform: translateY(-50%) ;
    }

    #password_box .slash_eye {
        display: none;
        position: absolute;
        right: 10px;
        cursor: pointer;
        width: 20px;
        top: 50%;
        transform: translateY(-50%) ;
    }

    #login_box button, #register_box button {
        width: 75px;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 15px;
        margin: 4px 0px 0px 0px; 
        color: white;
        background-color: var(--surface);
        border: 2px solid var(--accents);
        cursor: pointer;
    }
    
    #login_box button:active {
        cursor: progress;
    }

    #register_box button:active {
        cursor: progress;
    }

    #register_box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        max-width: 350px;
        max-height: 700px;
        width: 100%;
        height: 100%;
        background-color: var(--primary);
        box-shadow: 0px 4px 8px var(--surface);
        border: 2px solid var(--accents);
    }
    
    #register_box input{
        width: 250px;
        padding: 12px;
        box-sizing: border-box;
        border: 2px solid var(--accents);
        background-color: var(--surface);
        border-radius: 5px;
        outline: none; /* untuk menghilangkan border bawaan saat di klik*/
        padding-right: 40px;
        transition: 0.5s ease;
    }

    #register_box #password_box:focus {
        transform: scale(1.1);
        transition: 0.5s ease;
    }

    #register_box select{
        background-color: var(--primary);
        border: 2px solid var(--accents);
        width: 100%;
        text-align: center;
        max-width: 60px;
        height: 100%;
        max-height: 25px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border-radius: 12% ;
        outline: none;
    }

    #login_box a, #register_box a {
        color: var(--accents);
    }

    .link {
        margin: 4px;
    }

    #login_box a, #register_box a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .note {
        text-align: center;
        font-size: 12px;
        width: 100%;
        max-width: 250px;
        margin: 4px;
    }

    #class_ {
        display: none;
    }

    #subject_teach {
        display: flex;
    }
}