@font-face {
    font-family: 'jetbrains';
    src: url("../assets/fonts/Outfit-ExtraBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;

    font-family: 'josefin';
    src: url("../assets/fonts/Outfit-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --base: #CFDBD5;
    --primary: #333533;
    --surface:  #242423;
    --accents: #F5CB5C;
    --secondary: #E8EDDF;

    --detail: linear-gradient(135deg, #4dbc0d, #3E8914);
    --detail1: linear-gradient(135deg, #446DF6,#2749b7);
    --detail2: linear-gradient(135deg, #e81717, #a50c0c);
    --detail3: linear-gradient(135deg, #f59709, #ca5a0a);
    --detail4: linear-gradient(135deg, #0a0c0a, #242432);
}

* {
    padding: 0px;
    box-sizing: border-box;
    font-family: 'josefin';
    color: white;
}

::-webkit-scrollbar {
    display: none;
}

@keyframes background_animation {
    0% { background-position: 0% 50%;}
    50% { background-position: 100% 50%;}
    100% { background-position: 0% 50%;}
}

body {
    display: flex;
    flex-direction: column;
    background: var(--detail4);
    height: 100vh;
    margin: 12px;
    animation: background_animation 5s linear infinite;
    background-size: 400% 400%;
    background-repeat: no-repeat;
    align-items: center;
}

@media(min-width: 360px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
    main button{
        background-color: var(--primary);
        color: var(--base);
        padding: 8px;
        border: 2px solid var(--accents);
        border-radius: 8px;
        margin-bottom: 12px;
    }

    main button:active {
        cursor: pointer;
        background-color: var(--base);
        color: var(--primary);
    }

    main div {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .wrapper {
        background-color: var(--surface);
        display: flex;
        flex-direction: column ;
        border: 2px solid var(--accents);
        border-radius: 12px;
        justify-content: center;
    }

    .wrapper h2 {
        margin-right:auto;
        margin-left:12px;
        border-bottom: 2px solid var(--accents);
        padding: 0px;
        gap: 0px;
    }

    .span-wrap {
        display: flex;
        flex-direction: column ;
        justify-content: center;
        gap: 12px;
        margin: 0px 12px 12px 12px;
        font-size: 14px;
    }

    .wrapper-last {
        background-color: var(--surface);
        display: flex;
        flex-direction: column ;
        border: 2px solid var(--accents);
        border-radius: 12px;
        justify-content: center;
        align-items: center;
    }

    .wrapper-last p {
        text-align: center;
        margin: 4px;
    }
    .wrapper-last h3 {
        border-bottom: 2px solid var(--accents);
        text-align: center;
        margin: 4px;
    }
}
